:root {
    --bg-color: #DEDEDE;
    --primary-color: #373737;
    --secondary-color: #146694;
    --highlight-color: #0B3147;
}

body {
    background-color: var(--bg-color);
    padding-top: 10px;
    overflow-x: hidden;
}

/* ---- */

/* GRIDS */
.row {
    margin-bottom: 10px;
    padding-left: 0vw;
    --bs-gutter-x: 0;
    margin-left: 0;
    /* border: solid red 3px; */
}

.col {
    /* border: solid black 3px; */
}

/* ---- */


/* SECTIONS */
#simulation-section {
    width: 100vw;
    position: absolute;
    transform: translateX(100%);
    padding-left: 2vw;
}

#config-menu {
    width: 100vw;
    /* padding: 10px; */
    padding-right: 5vw;
    /* background-color: blue; */
    position: absolute;

}

.config-section {
    margin-bottom: 5vh;
    padding-left: 2vw;
}

footer {
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    margin-top: 95vh;
    height: 30px;
}

.data-section {
    /* border: solid black 3px; */
    margin-bottom: 20px;
}

/* ---- */


/* TEXT */
.main-heading {
    color: var(--primary-color);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5vh;
}

.sub-heading {
    color: var(--secondary-color);
    font-weight: 300;
}

.input-group-text {
    background: none;
    border: 0;
    color: var(--primary-color);
}

.footer-link {
    font-size: 1.5vw;
    margin-left: 5%;
    margin-right: 5%;
}

sup {
    margin-right: 10px;
}

#start-txt {
    margin-top: 3vw;
    color: var(--secondary-color);
}

#start-txt:hover {
    cursor: pointer;
}

#strategies-disabled-text {
    color: var(--secondary-color);
    font-size: 1rem;
}

/* ---- */


/* INPUTS */
.input-group {
    padding: 0;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    border-radius: 0;
    margin: 0;
    font-weight: bolder;
}

select {
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=range]::-webkit-slider-thumb {
    background: var(--bg-color);
}

input[type=range]::-moz-range-thumb {
    background: var(--bg-color);
}

input[type=range]::-ms-thumb {
    background: var(--bg-color);
}

input[type=range]::-webkit-slider-runnable-track {
    background: var(--primary-color);
}

/* ---- */

#main-window {
    background-color: white;
    width: 85vw;
    height: 35vw;
}

#back-btn:hover {
    cursor: pointer;
}

#key-btn {
    background-color: var(--bg-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

#key-img {
    width: 50%;
}